p{
font-size: x-large;
}


.panelB{
    width: 90%;
    height: 90%;
    background-color: rgba(156, 215, 238, 0.801);
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    align-items: center;
}