*{
  box-sizing: border-box;
}
.example-container {
    width: 100%;
    height: 100%;
    background: none;
    text-align: left ;

}
  
.example-sidenav-content {
  margin: 15px;
}

.navbarbuttons{
  border-bottom: 1px solid #00bcd4;
  padding-bottom: 3px;
}

.btnSidebar{
    border: 2px solid hsl(187, 100%, 42%) !important;
    background: none;
    color:#00bcd4 !important;
    outline: none;
  }

.iconBtnSidebar{
  width: 30px;
  height: 30px;
}
  
.example-sidenav {
  width: 15%;
  border-right: 1px solid #00bcd4;
  padding: 10px;
}

.card{
  background: none;

}

.navbarbuttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.buttonsCategory{
  display: inline-block;
  border: none;
  background: none;
  color: blue;
  font-size: large;
  outline: none;
}

.searchInput{
  display: block;
  font-size: large;
  margin: 0% !important;
}

.form-control{
  color: blue;
}

.btn-rounded{
  border-radius: 10px;
  font-size: large;
}

.allProducts{
  height: 90%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}

h2, h3{
   margin-bottom: 2px;
}

.card{
  height: 300px ;
  width: 220px;
  background-color:white;
  margin-top: 15px;
  margin: 0.5rem;
  border: none ;
}

.card:hover{
  border: 1px solid #00bcd4 !important;
  box-sizing: border-box;
  cursor: pointer;
}

.card-body{
  color: #00bcd4;
}

.btn-primary{
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
  background-color:  lightskyblue;
  color: white !important;
  border: none !important;
}

.card-img-top{
  height: 150px ;
  width: 100% ;
}

.removeIcon{
   height: 25px;
   width: 25px;

}

.removeButton{
  height: 25px;
  width: 25px;
  border: none;
  background: none;
  outline: none;
  margin-right: 10px;

}

.allCartItems{
display: flex;
justify-content: space-between;
width: 100%;
border-bottom: 1px solid #00bcd4;
margin-bottom: 10px;
align-items: center;
padding-bottom: 10px;
}


.removeAllItemsButton{
  border-color: red;
  background: none;
  color: red;
}

.goToOrder{
  border-color: green;
  background: none;
  color: green;
}

.sumPrice{
  color: blue;
  font-size: 20px;
  border-bottom: 1px solid blue;
}

.cratButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

