<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h2>My Cart</h2>
    <div class="allCartItems" *ngFor="let cartItem of  this.cartService.allCartItems">
      <span class="amount">{{cartItem.amount}}</span>
      <span>x</span>
      <span class="productName">{{cartItem.productName}}</span>
      <span>-------------</span>
      <span class="totalPrice">{{cartItem.totalPrice}}$</span>
      <button class="removeButton" (click)="onClikRemove(cartItem)">
        <img class="removeIcon" src="https://img.icons8.com/cute-clipart/344/filled-trash.png" alt="">
      </button>
      <br>
      <br>
    </div>
    <span class="sumPrice">price of all items:  {{this.sumPrice}}$</span>


  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="navbarbuttons">
      <button class="btnSidebar" type="button" mat-button (click)="drawer.toggle()">
        <img class="iconBtnSidebar" src="shopping-cart.png">
      </button>

      <button class="buttonsCategory" (click)="onClikAllProducts()" type="button" mat-button>
        All Products
      </button>

      <button class="buttonsCategory" (click)="onClikMeatAndFish()" type="button" mat-button>
        Meat and fish
      </button>

      <button class="buttonsCategory" (click)="onClikDrinking()" type="button" mat-button>
        Drinking
      </button>

      <button class="buttonsCategory" (click)="onClikFruitsAndVegetables()" type="button" mat-button>
        Fruits and Vegetables
      </button>

      <button class="buttonsCategory" (click)="onClikMilkAndEggs()" type="button" mat-button>
        Milk and eggs
      </button>

      <form class="searchInput form-inline md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" type="text" placeholder="search product..." aria-label="Search"
          name="searchInput" [(ngModel)]="searchValue">
      </form>


    </div>



    <div class="allProducts" *ngIf="isShowAllProducts">
      <div class="card  border-info " *ngFor="let currentProduct of currentProducts | poductsPipeBySearch : searchValue"
        (click)=[(onProductClicked(currentProduct))]>
        <img class="card-img-top" src={{currentProduct.imageURL}} alt="Card image cap">
        <div class="card-body">
          <h2>Name : {{currentProduct.productName}}</h2>
          <h3> Category : {{currentProduct.productCategory}}</h3>
          <h3> Price : {{currentProduct.productPrice}}$</h3>
        </div>
      </div>
    </div>
  </div>

  <div>
    <select name="" id="" (change)="onChangeValue($event.target.value)">
      <option *ngFor="let currentProduct of currentProducts" value={{currentProduct.productName}}>
        {{currentProduct.productName}}</option>
    </select>
  </div>



</mat-drawer-container>