<form  class="registerForm" #registerForm="ngForm" [formGroup]="userDetailsForm" (submit)="register()">
    <div class="register">

        <div class="step1">
            <p>register step1!</p>
            <div>
                <mat-form-field>
                    <mat-label>id</mat-label>
                    <input matInput placeholder="" value="" [formControl]="userId">
                    <br>
                    <mat-error *ngIf="userId.errors?.required">Id is required</mat-error>
                    <br>
                    <mat-error *ngIf="userId.errors?.pattern">Id is not valid</mat-error>
                    <br>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="" value="" [formControl]="userName">
                    <br>
                    <mat-error *ngIf="userName.errors?.required">Email is required</mat-error>
                    <br>
                    <mat-error *ngIf="userName.errors?.pattern">Email is not valid</mat-error>
                    <br>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="" type="password" value="" [formControl]="password">
                    <br>
                    <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
                    <br>
                    <mat-error *ngIf="password.errors?.pattern">Password is not valid</mat-error>
                    <br>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Password Confirm</mat-label>
                    <input matInput placeholder="" type="password" value="" [formControl]="passwordConfirm">
                    <br>
                    <mat-error *ngIf="passwordConfirm.errors?.required">Password Confirm is required</mat-error>
                    <br>
                    <mat-error *ngIf="passwordConfirm.errors?.pattern">Password Confirm is not valid</mat-error>
                    <br>
                </mat-form-field>
            </div>
        </div>
        <div class="step2">
            <p>register step2!</p>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Select your City</mat-label>
                    <mat-select disableRipple [formControl]="city">
                        <mat-option value="Beer Sheva">Beer Sheva</mat-option>
                        <mat-option value="Eilat">Eilat</mat-option>
                        <mat-option value="Hadera">Hadera</mat-option>
                        <mat-option value=">Haifa">Haifa</mat-option>
                        <mat-option value="Herzliya">Herzliya</mat-option>
                        <mat-option value="Jerusalem">Jerusalem</mat-option>
                        <mat-option value="Netanya is the best city">Netanya is the best city</mat-option>
                        <mat-option value="Petah Tikva">Petah Tikva</mat-option>
                        <mat-option value="Raanana">Raanana</mat-option>
                        <mat-option value="Tel Aviv">Tel Aviv</mat-option>
                    </mat-select>
                    <br>
                    <mat-error *ngIf="city.errors?.required">City is required</mat-error>
                    <br>
                    <mat-error *ngIf="city.errors?.pattern">City is not valid</mat-error>
                    <br>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Street</mat-label>
                    <input matInput placeholder="" value="" [formControl]="street">
                    <br>
                    <mat-error *ngIf="street.errors?.required">Street is required</mat-error>
                    <br>
                    <mat-error *ngIf="street.errors?.pattern">Street is not valid</mat-error>
                    <br>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="" value="" [formControl]="firstName">
                    <br>
                    <mat-error *ngIf="firstName.errors?.required">FirstName is required</mat-error>
                    <br>
                    <mat-error *ngIf="firstName.errors?.pattern">FirstName is not valid</mat-error>
                    <br>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="" value="" [formControl]="lastName">
                    <br>
                    <mat-error *ngIf="lastName.errors?.required">LastName is required</mat-error>
                    <br>
                    <mat-error *ngIf="lastName.errors?.pattern">LastName is not valid</mat-error>
                    <br>
                </mat-form-field>
            </div>
            <div>
                <input [disabled]="registerForm.form.invalid && password != passwordConfirm" type="button" (click)="register()" value="submit" class="buttons" />
            </div>

        </div>
    </div>
</form>