<div class="login">
    <h1>Login</h1>
    <form #loginForm="ngForm" [formGroup]="userDetailsForm" (submit)="login()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="chenboaron93@gmail.com" name="username" value="" [formControl]="userName">
            <br>
            <mat-error *ngIf="userName.errors?.required">Email is required</mat-error>
            <br>
            <mat-error *ngIf="userName.errors?.pattern">Email is not valid</mat-error>
            <br>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="" type="password" name="password" value="" [formControl]="password">
            <br>
            <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
            <br>
            <mat-error *ngIf="password.errors?.pattern">Password is not valid</mat-error>
            <br>
        </mat-form-field>

        <div>
            <input [disabled]="loginForm.form.invalid" type="button" (click)="login()" value="Login" class="buttons" />
            <a routerLink="/register" type="button" class="buttons">sign up</a>
        </div>
    </form>

</div>