<div class="login">
    <h1>Login</h1>
    <form #loginForm="ngForm" [formGroup]="userDetailsForm" (submit)="login()">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="chenboaron93@gmail.com" name="username" value="" [formControl]="userName">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="" type="password" name="password" value="" [formControl]="password">
            </mat-form-field>
        <div>
            <br>
            <span *ngIf="userName.errors?.required && userName.touched">Invalid username</span>
            <br>
            <span *ngIf="userName.errors?.pattern && userName.touched">Name must be capitalized</span>
            <br>
            <span *ngIf="password.invalid && password.touched">Missing password</span>
            <br>
            <input [disabled]="loginForm.form.invalid" type="button" (click)="login()" value="Login" class="buttons" />
            <a routerLink="/register" type="button" class="buttons">sign up</a>
        </div>
    </form>

</div>