<div class="panelC">
    <div class="image"></div>

    <div>
        <span>There are </span><span id="numberOfProducts">5</span><span> products available in the store</span>
    </div>
    <div>
        <span>There are </span><span id="numberOfOrders">5</span><span> orders placed in the store</span>

    </div>
    <div>
        <span>you have open cart from </span><span id="openCartDate"> date</span>
        <br>
        <span>your last purchase was on </span><span id="purchaseDate"> date</span>
        <br>
        <span>welcome </span><span id="name">name</span>
    </div>
</div>