section {
    min-height: 100%;
    background-image: url(35992.jpg);
    background-size: auto;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columns */
    grid-template-rows: 4em auto 4em; /* 3 rows */
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ chen master code @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

section > aside, main, .info{
    margin: 20px;
}

header, footer {
    grid-column: span 12;
}

aside {
    grid-column: span 4;
}

main {
    grid-column: span 4;  
}
.info {
    grid-column: span 4;   
} 