section {
    height: 100%;
    background-image: url(35992.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



header, footer{
flex: 0.05;
}
.frontPage {
    flex: 0.9;

}

