<div class="step1">
    <p>register-step1 works!</p>
    <div>
        <mat-form-field>
            <mat-label>id</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="" type="password" value="">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Password Confirm</mat-label>
            <input matInput placeholder="" type="password" value="">
        </mat-form-field>
    </div>
    <div>
        <button  type="submit" class="buttons">go to register step-2</button>

    </div>

</div>